.cabecera {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: darkblue;
  color: #fff;
}

.listas {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: darkgoldenrod;
}
